{
  "core": {
    "useSSL": false,
    "port": 8000,
    "botToken": ""
  },
  "database": {
    "host": "localhost",
    "password": "",
    "user": "",
    "aesKey": ""
  },
  "bezerk": {
    "uri": "ws://localhost:1337",
    "secret": ""
  },
  "dev": {
    "enabled": true,
    "devIP": "",
    "ravenURI": ""
  },
  "oauth": {
    "clientID": "",
    "secret": ""
  },
  "session": {
    "secret": "dougpls",
    "host": "localhost",
    "port": "6379",
    "ttl": "600000"
  },
  "callbackURL": "http:///oauth/callback",
  "webhookURL": ""
}
